<div class="mt-4">
	<div>
	    <h1>My Books</h1>
		<a href="/me/trash/articles">Recycle Bin</a>
	</div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each articles}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>
                    <img src="{{this.image}}" height="144px" width="100px">
                </td>
                <td>{{this.description}}</td>
                <td>
                    <a href="/articles/{{this._id}}/edit" class="btn btn-link">Edit</a>
                    <a href="" data-id="{{this._id}}" class="btn btn-link" data-toggle="modal" data-target="#delete-article-modal">Delete</a>
                </td>
            </tr>
            {{else}}
            <tr>
				<td colspan="5" class="text-center">
					You have not added any books.
					<a href="/articles/new">Click here to add one now</a>
				</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="delete-article-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Confirm Delete Action</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<p>Are you sure you want to delete this book?</p>
		</div>
		<div class="modal-footer">
			<button id="btn-delete-article" type="button" class="btn btn-danger">Yeah, do it.</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">No, thanks.</button>
		</div>
		</div>
	</div>
</div>

<form method="POST" name="delete-article-form" enctype="application/x-www-form-urlencoded">
  	<input type="hidden" name="_method" value="DELETE">
</form>

<script src="/script/auth/private.js"></script>
<script src="/script/page/delete.js"></script>